{% extends "base.html" %}
{% load static %}

{% block title %}Информация по категориям{% endblock %}

{% block main_content %}
  <h1>Категории и числа</h1>
  <ul>
  {% for cat, count in counts.items %}
    <li><span class="badge badge-info">{{ cat }} x {{ count }}</span></li>
  {% empty %}
    <li>Список задач по категориям пуст. Попробуйте добавить их из админки</li>
  {% endfor %}
  </ul>
  <ul>
  {% for pcat, pcount in pr_counts.items %}
    <li><span class="badge badge-info">{{ pcat }} x {{ pcount }}</span></li>
  {% empty %}
    <li>Список приоритетов пуст. Попробуйте добавить их из админки</li>
  {% endfor %}
  </ul>
{% endblock %}
